body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 0;
}

.container-fluid {
    padding: 20px;
}

.text-center {
    margin-top: 50px;
    font-size: 2em;
    color: #333;
}

.container-fluid p {
    font-size: 1.2em;
    color: #666;
}
